/*
    Name: hblog Demo
    Github:https://github.com/SherlockMe/hblog
	Version: v1.0
*/

body {
  margin: 0;
  line-height: 1.8;
  background: #FFF; /*#eeeff0;*/
  
  /*
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  */
}

h1 {
}

p {
    font-family: verdana;
    font-size: 14px;
}

hr{
	border-bottom-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    background-color: rgb(204, 204, 204);
	display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

ul{
	 list-style-type: none;
}
li{
	 list-style-type: none;
}

.header {
padding:0px;
height:200px;
}
.top-header{
	margin-top: 10px;
	
}

.search-right{
	margin-top: 0px;
	float:right;
	display: inline;
	padding-right:60px;
	position: sticky;

}
.search-right a:link{
	text-decoration: none;
}
.search-right a:visited{
	text-decoration: none;
}
.search-right a:active{
	text-decoration: none;
}
.search-right a:hover{
	text-decoration: none;
}

.search-right li i{
	color:black;
}

.search-right ul{
	list-style-type: none;
	}
	
.search-right ul li{
	list-style-type: none;
	display: inline;
	}

.header-logo{
    text-align: center;
    padding:35px;
    padding-top:65px;
    background:no-repeat;
    background-position:top center;
	
}

/*social icon start*/
.social-left{
	margin-top: 0px;
	float:left;
	display:inline;
	padding-left:0;
    margin-left:-5px;
    list-style:none;

}
.social-left ul{
	list-style-type: none;
	}
	
.social-left ul li{
	list-style-type: none;
	display: inline;
	}
	
.social-top a i{
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #000000;
}

.social-top a i:hover {
    color: #0379ae;
}

/*light*/
.social-top.light a i {
  color: #0379ae;  
}

.icon-animation i {
   text-align         : center;
   overflow           : hidden;
    -webkit-transition : all 0.5s;
    -moz-transition    : all 0.5s;
       transition         : all 0.5s;
}

.icon-animation i::before {
    speak                       : none;
    display                     : block;
   -webkit-font-smoothing      : subpixel-antialiased !important;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : hidden;
    -ms-backface-visibility     : hidden;
}


.icon-animation.btt i:hover::before {
    -webkit-animation : BottomToTop 0.3s forwards;
     -moz-animation    : BottomToTop 0.3s forwards;
    animation         : BottomToTop 0.3s forwards;
}

.icon-animation.btt i:before {
     -webkit-animation : TopToBottom 0.3s forwards;
    -moz-animation    : TopToBottom 0.3s forwards;
    animation         : TopToBottom 0.3s forwards;
}

/*keyframe animation*/
@-webkit-keyframes BottomToTop {
    49% {
        -webkit-transform : translateY(-100%);
        }
    50% {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@-moz-keyframes BottomToTop {
    49% {
        -moz-transform : translateY(-100%);
        }
    50% {
        opacity        : 0;
        -moz-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@keyframes BottomToTop {
    49% {
        transform : translateY(-100%);
    }
    50% {
        opacity   : 0;
        transform : translateY(100%);
    }
    51% {
        opacity : 1;
    }
}


@-webkit-keyframes TopToBottom {
    49% {
        -webkit-transform : translateY(-100%);
        }
    50% {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@-moz-keyframes TopToBottom {
    49% {
        -moz-transform : translateY(-100%);
        }
    50% {
        opacity        : 0;
        -moz-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@keyframes TopToBottom {
    49% {
        transform : translateY(-100%);
    }
    50% {
        opacity   : 0;
        transform : translateY(100%);
    }
    51% {
        opacity : 1;
    }
}
/*social icon finish*/ 

/*menu START*/
.menu{
  width: 100%;
  position: sticky;
  text-align:center;

}
.menu-line{
	clear: both;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding-top:12px;
	padding-bottom:12px;
	text-align: left;
    text-decoration: none;
    display: inline-block;
	
}
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
nav{

}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;/*harf*/
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
 
 /* animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;*/
}
nav a:hover:before{
	 content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

/*opens menu class */
.navd {
	
    position: relative; 
    display: inline-block;
}

.navd-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navd:hover .navd-content {
    display: block;
}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

/*menu finish*/


/*page upload start*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*page upload finish */


/*Content Css Start*/
.content{
	padding-top:24px;
    padding-bottom:24px;
	min-height:300px;
}

.widget-title{
	clear: both;
	display: block;
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px dotted #333;
}

.write-line{ /*hr çizgisi için tanımladı düzeltilecek*/
	display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-bottom-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    background-color: rgb(204, 204, 204);
	
}

.grid-container { /*content grid*/
   display: grid;
   grid-gap: 50px;
   grid-template-columns: auto auto auto;
   padding: 10px;
}
.grid-item {
   text-align: center;
}

/*grid çalışma*/
.blog-box{
    margin-left:30px;
	height: 30px;
	border:0px solid transparent;
	background-color:rgba(255, 255, 255, 1);
	border-radius:0;
	z-index:1;
	position:absolute;
	width:128px;
}
	
.box-title{
	font-size:18px;
}
.post{
	left: 20px; 
	top: 221px; 
}

/*box effect*/
.box-effect{
-webkit-transition: background-color 1s ease-in-out; /* Chrome ve Safari */
-moz-transition: background-color 1s ease-in-out; /* Mozilla */
-o-transition: background-color 1s ease-in-out; /* Opera */
transition: background-color 1s ease-in-out; /* Standart CSS3 Kodu */
background-color:#ffffff;	
border:radius; /*not work*/
}

.box-effect:hover{
-webkit-transition: background-color 0s ease-in-out; /* Chrome ve Safari */
-moz-transition: background-color 0s ease-in-out; /* Mozilla */
-o-transition: background-color 0s ease-in-out; /* Opera */
transition: background-color 0s ease-in-out; /* Standart CSS3 Kodu */
background-color:#fff7f7; 
border:radius;  /*not work*/
}

.post-image{
	width: 280px; 
	height: 280px; 
	object-fit: cover;
	z-index:2;
}
.post-font{
	font-family:sans-serif;
}

/*Post Grid*/
.grid-percent{
   display: grid;
   
   grid-gap: 20px;
   grid-template-columns: auto auto auto;
   
    padding: 10px;

    min-height: 1px;

    margin-left: 3%;
    margin-right:2%;
	
}

.post-wrapper {
	display:inline;
	float:left;
	
	padding: 16px;
	border: 1px solid #eee;
    background-color: #fff;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
    border-radius: 2px;
    margin-bottom: 20px;
}
.post-wrapper:hover {
	border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*entry header*/
.entry-header .entry-title {
    font-size: 17px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
	margin-top:0;
	text-align:center;
}

@media ( max-width: 479px) {
   .entry-title {
        font-size: 12px;
        line-height: 15px;
    }
    .entry-header .posted-in {
        display: none;
    }
}
.entry-header .entry-title a {
    color: #fff;
}
.entry-meta li {
    margin-right: 5px;
    font-size: 14px;
}

@media ( max-width: 479px) {
    .entry-header .entry-title {
        font-size: 12px;
        line-height: 15px;
    }
    .entry-meta li {
        margin-right: 2px;
        font-size: 12px;
    }
}
.entry-meta li a {
    color: #999;
}
.entry-meta li a:hover {
    color: #03a9f4;
}
.entry-meta li i {
    margin-right: 5px;
    padding-left: 1px;
}
/*List decoration*/
.entry-list{
 padding-left:0;
 margin-left:-5px;
 list-style:none;
 text-decoration:none;
 }
 
 .entry-list a{
 text-decoration:none;
 }
 
 .entry-list>li{
 display:inline-block;
 padding-right:5px;
 padding-left:5px;
 text-decoration:none;
 }
 
 /*Footer decoration*/
.footer-entry-list{
 padding-left:0;
 }
 .footer-entry-list>li{
 display:inline-block;
 padding-right:2px;
 padding-left:2px;
 text-decoration:none;
 }
 
 /*Post İmage*/
.post-thumb {
	position: relative;
	/*margin-bottom: 25px;*/
}
.post-thumb img {
	width: 100%;
}

.entry-footer {
    border-top: 1px solid #eee;
    padding-top: 6px;
    overflow: hidden;
    position: relative;
}

.entry-footer .post-tags {
    float: left;
}
.entry-footer .post-tags i{
    margin-right: 5px;
}

.entry-footer .post-tags a{
    color: #999;
    text-transform: capitalize;/*entry text*/
    margin-right: 10px;
}
.entry-footer .post-tags a:hover{
     color: #03a9f4;
}
.entry-footer ol,ul{
     margin-top: 0;
     margin-bottom: 0px;
     text-decoration:none;
 }
.entry-footer a{
    text-decoration:none;
}
.entry-footer a:focus,a:hover{
    color:#23527c;
    text-decoration:underline;
}
.entry-footer .share-post li a{
    display: block;
    color: #999;
}
.entry-footer .share-post li a{
    display: block;
    color: #999;
}
.entry-footer .share-post li a:hover{
    color: #03a9f4;
}





/*Content Css Finish */

/* Footer */
.footer{
  text-align: center;
  background-color: #eaeaea;
  position: sticky;
}
.footer h2 {
    margin-bottom: 24px;
}
.footer p {
    color: #c9f0ff;
}

.footer-bg {
    background-color: #3e5267;
}

.footer-bg.footer-bgcolor {
    background-color: #304254 !important;
}

.footer-text {
    color: #FFF;
}

.footer-text a{
    color: #FFF;
}
.footer-text a:hover{
    color: #5dd2ff;
}

/* Back to tap */
.footer .container {
    position: relative;
}
.back-top {
    position: absolute!important;
	top:-41px;
    right: 0;
}
.back-top a{
	color: #FFF;
}

.back-top i {
    font-size: 3rem!important;
}
.back-top.white i {
    color: #FFF;
}
.back-top-color{
	color: black;
}

/*TT Animate CSS*/
.hblog-animate i {
    text-align         : center;
    overflow           : hidden;
    -webkit-transition : all 0.5s;
    -moz-transition    : all 0.5s;
    transition         : all 0.5s;
}

.hblog-animate i::before {
    speak                       : none;
    display                     : block;
    -webkit-font-smoothing      : subpixel-antialiased !important;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : hidden;
    -ms-backface-visibility     : hidden;
}

/*Left To Right*/
.hblog-animate.ltr i:hover::before {
    -webkit-animation : LeftToRight 0.3s forwards;
    -moz-animation    : LeftToRight 0.3s forwards;
    animation         : LeftToRight 0.3s forwards;
}

.hblog-animate.ltr i:before {
    -webkit-animation : RightToLeft 0.3s forwards;
    -moz-animation    : RightToLeft 0.3s forwards;
    animation         : RightToLeft 0.3s forwards;
}

/*Right To Left*/
.hblog-animate.btt i:hover::before {
    -webkit-animation : BottomToTop 0.3s forwards;
    -moz-animation    : BottomToTop 0.3s forwards;
    animation         : BottomToTop 0.3s forwards;
}

.hblog-animate.btt i:before {
    -webkit-animation : TopToBottom 0.3s forwards;
    -moz-animation    : TopToBottom 0.3s forwards;
    animation         : TopToBottom 0.3s forwards;
}

/* Social  */
.social-link {
    margin-bottom: 0;
}
.social-link li {
    display: inline-block;
}
.social-link li a i {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
	text-decoration:none;
}
.social-link a:link{
	text-decoration: none;
}
.social-link a:visited{
	text-decoration: none;
}
.social-link a:active{
	text-decoration: none;
}
.social-link a:hover{
	text-decoration: none;
}
.social-link li a i{
    color: #fff;
}
.social-link li a i:hover {
    color: #03a9f4 ;
    background: #fff;
}
.social-link.dark li a i{
    color: #202020;
}
.social-link.dark li a i:hover {
    color: #fff ;
    background: #03a9f4;
}

/* footer css 2*/
.social-link li+li {
    margin-left: 15px;
}

.social-link li a {
    line-height: 14px;
}
.social-link li a i{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.social-link li a i:hover {
    color: #0379ae;
}

.footer-logo {
    margin: 35px 0 25px;
}

.footer-intro p {
    margin: 0px 0px 0px;
	text-align:center;
}

.top-footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

/*
.top-footer{
    padding: 18px 0;
	    margin: 45px 0 35px;
}

.top-footer li+li {
    margin-left: 15px;
}

.top-footer li a {
    line-height: 14px;
}

.top-footer ul li{
    display: inline-block;
    margin-right: 30px;
}
.top-footer ul li:last-child{
    margin-right: 0;
}
.top-footer ul li a{
    display: block;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.top-footer ul li a:hover {
    color: #81ddff;
}
.top-footer li a i{
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.top-footer li a i:hover {
    color: #0379ae;
}
*/
.down-footer {
	padding: 10px 0;
	font-size: 9px;
	letter-spacing: 2px;
	
	}
.down-footer ul{
	margin: 0;
	padding: 0;
	display: inline-block !important;
	text-align: left;
	text-transform: uppercase;
	 display: inline-block;
    margin-right: 30px;
}
.down-footer ul li{
	margin: 0;
	padding: 0;
	display: inline-block !important;
	text-align: left;
	text-transform: uppercase;
    display: inline-block;

}
.down-footer ul li:before {
	content: '//';
	padding: 0 12px 0 4px;
	letter-spacing: -2px;
	color:white;
}
.down-footer ul li a {
    /*  display: block; 
    font-weight: 500;
	text-decoration:none;*/
	text-decoration: none;
	/*color: #58585a;*/
	color: #fff;
	transition: all .3s ease-in-out; 
	
}
.down-footer ul li a:hover {
    color: #81ddff;
}

.down-footer ul li:first-child:before {
	display: none;
}